.container{
    display: grid;
    grid-template-rows: 100vh 1fr 1fr;
    background: #bbb;
}

html, body{
    margin: 0px;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    display:none;
}

h2{
    font-family: "Merriweather", serif;
}

p{
    font-family: 'montserrat', sans-serif, monospace;
}