.container{
    display: grid;
    grid-template-rows: 100vh 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 100vw;
}

html, body{
    margin: 0px;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    display:none;
}