.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 100px;

    &__title {
        text-align: center;
        font-size: calc(2em + 1vw);
        margin-bottom: calc(40px + 20vh);
    }

    &__subcontent {
        padding: 30px;
        padding-top: 0px;
        max-width: 1300px;
        margin-bottom: calc(50px + 10vh);
        border: 2px solid #222;

        & h2 {
            transform: translate(-50%, -50%);
            text-align: center;
            position: relative;
            left:50%;
            margin:0px;
            padding: 0px 20px;
            font-size: calc(1em + 0.8vw);  
            display: inline-block;
            background: #fff;
        }

        & p {
            line-height: calc(2em + 1vh);
            font-size: 16px;
            grid-column: 1;
        }
    }

    &__contact {
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding: 0px;
        min-width: 200px;
        max-width: 500px;
        width: 60%;
        height: 60px;
        align-self: center;
        background: #222;
        color: #fff;
        text-transform: uppercase;
        font-size: calc(1em + 1vh);
        font-family: 'monsterrat', sans-serif, monospace;
        border: none;
        transition-duration: 0.2s;
        outline-color: transparent;
        
        user-select: none;
    }

    &__contact:hover {
        background: #fff;
        color: #222;
        border: 1px solid #222;
        transform: scale(1.2);
    }

    @media screen and (min-width:800px) {

        &__subcontent p {
            line-height: calc(1.5em + 3vh);
            padding: 40px;
            font-size: 24px;
        }

        padding: 80px;
        padding-top: 100px;
    }
}

#noimg {
    grid-column: 1/3;
}

#open {
    transform: scaleY(1);
}

#safari {
    top: unset;
    margin-top: 66px;
}