.navbar{
    background: #222;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index: 10;
    display: grid;
    grid-template-columns: 25% auto 30px 20px;
    grid-template-rows: 70px;
    &__logo{
        margin: 10px 0;
        margin-left: 30px;
        color:white;
        align-self: center;
        font-size: 30px;
    }   
    &__menu{
        display: none;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-content: center;
        color:white;
        grid-column: 3;
        & i{
            align-self: center;
            font-size: 30px;
        }
    }
    
    @media screen and (min-width: 950px) {
        grid-template-columns: 150px 1fr 1fr;
        &__btn{
            display: none;
        }
        &__menu{
            grid-column: 3/4;
            display: flex;
            justify-content: center;

            & a{
                user-select: none;
                min-width: 250px;
                outline: none;
                line-height: 65px;
                font-size: 20px;
                text-decoration: none;
                height: 100%;
                vertical-align: middle;
                text-align: center;
                align-self: center;
                color:white;
                flex-grow: 1;
                flex-shrink: 1;
                transition-duration: 0.2s;
            }

            & a:hover{
                background: #fff;
                color:#222;
            }
            &__services{
                position: relative;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 1;
                & > a{
                    width: 100%;
                }

                &__dropdown{
                    width: 100%;
                    position: absolute;
                    top:70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                     & a{
                        width: 100%;
                        background: #222;
                     }
                     transform: scaleY(0);
                     transition-duration: 0.2s;
                     transform-origin: top center;
                }
            }
            &__services:hover > &__services__dropdown{
                transform: scaleY(1); 
            }

            &__services:focus > &__services__dropdown{
                transform: scaleY(1); 
            }
        }
        &__logo{
            font-size: 40px;
            user-select: none;
        }
    }
}
