.navbar{
    background: #222;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index: 10;
    display: grid;
    grid-template-columns: 25% auto 30px 20px;
    &__logo{
        margin: 10px 0;
        margin-left: 30px;
        color:white;
        align-self: center;
        font-size: 30px;
    }   
    &__menu{
        display: none;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-content: center;
        color:white;
        grid-column: 3;
        & i{
            align-self: center;
            font-size: 30px;
        }
    }
    
    @media screen and (min-width: 950px) {
        grid-template-columns: 50px 1fr 1fr;
        &__btn{
            display: none;
        }
        &__menu{
            grid-column: 3/4;
            display: flex;
            justify-content: center;

            & a{
                min-width: 250px;
                outline: none;
                line-height: 65px;
                font-size: 20px;
                text-decoration: none;
                height: 100%;
                vertical-align: middle;
                text-align: center;
                align-self: center;
                color:white;
                flex-grow: 1;
                flex-shrink: 1;
                transition-duration: 0.2s;
            }

            & a:hover{
                background: #fff;
                color:#222;
            }

            &__dropdown{
                position: absolute;
                top:68px;
                background: #222;
                width: 250px;
                height: 100%;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-end;
                flex-grow: 1;
                flex-shrink: 1;
                height: 0px;
                transition-duration: 0.5s; 
            }

            &__dropdown:hover{
                height: auto;
            }

            &__dropdown:hover > a{
                display: initial;
            }
            &__dropdown > a{
                transition-duration: 0.3s;  
                text-align: center;
                vertical-align: middle;
                width: 100%;
                display: none;
            }

            #service:hover + div{
                height: auto;
            }

            #service:hover + div > a {
                display: initial;
            }

            &__dropdown > a:hover{
               color:#000;
               background: #fff;
            }

        }
        &__logo{
            font-size: 40px;
            user-select: none;
        }


      /*   ul{
            margin: 0px;
            height: 100%;
            display: flex;
            li {
                min-width: 250px;
                box-sizing: border-box;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 100%;
                display: flex;
                cursor: pointer;
                display: inherit;
                justify-content: center;
                transition-duration: 0.5s;
                a {
                    outline: none;
                    user-select: none;
                    text-decoration: none;
                    align-self: center;     
                    font-size: 20px;
                    color: white;
                }
            }
        }
        li:hover{
            background: #fff;
        }

        li:hover > a{
            color:#222;
        } */
    }
}
